* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, div, span, img, 
ol, ul, li, a, p, h1, h2, h3, 
h4, h5, h6, option, legend, label, 
table, th, td, tr, article, aside, 
caption, figure, footer, header, hgroup, 
mark, nav, section, time, audio, video {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
}

table {
	border-collapse: collapse;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll; 
}

ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, 
a, section, span, li, div {
	@include transition(0.3s ease all);
}